<div class="menu-card">
  <div class="menu-box">
    <% @sections.each do |section| %>
      <h2 class="menu-category"><a><%= section[:name] %></a></h2>
      <p><%= section[:details] %></p>
    <% end %>
    <ul>
      <li>
        <div class="title clearfix">
          <% @items.each do |item| %>
            <span><a href="/menu/<%= "#{item[:name]}".downcase.split("\s").join('-') %>/" title="Permanent Link to #{item[:name]}"><%= item[:name] %></a></span>
            <span class="price"><%= item[:price] %></span>
        </div>
        <div class="description clearfix"><%= item[:description] %></div>
      </li>
        <% end %>
    </ul>
  </div>
</div>
